:root {
    --primary-color: #4EA379;
    --text-color: #000;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    height: 45px;
    background-color: var(--primary-color);
    width: 100%;
}

.header-contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
}

.header-contact li {
    padding: 0 12px;
    line-height: 45px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;

}


.contact-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.header-menu {
    background-color: #FFFFFF;
    width: 100%;
}

.nav-item {
    padding: 0 12px;
    position: relative;
}

.nav-link {
    color :var(--text-color);
    
}

.nav-item:hover .item-list {
    display: block;
}

.nav-link-icon {
    font-size: 12px;
}

.logo {
    height: 70px;
    width: 138px;
    margin-right: 20px;
}

.logo-img {
    width: 100%;
}

/* Item list */

.item-list {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    width: 228px;
    padding: 0;
}

.item-element {
    display: block;
    text-align: left;
    
}

.item-link {
    display: block;
    text-decoration: none;
    min-width: 208px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    color: var(--text-color);
}


.item-list :hover {
    background-color: #E4E4E4;
    color: var(--text-color);
}